ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = WA9VC4AR6Q
INFOPLIST_FILE = $(SRCROOT)/SampleiOS/Info.plist
IPHONEOS_DEPLOYMENT_TARGET = 11.0
LD_RUNPATH_SEARCH_PATHS = ["$(inherited)", "@executable_path/Frameworks"]
PRODUCT_BUNDLE_IDENTIFIER = network.xyo.mod-ble-sample
PRODUCT_NAME = $(TARGET_NAME)
SWIFT_VERSION = 4.2
TARGETED_DEVICE_FAMILY = 1,2
